<?xml version='1.0' encoding='utf-8'?>
<widget id="me.mudrechenko.smith_college" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SCMobile</name>
    <description>
        Smith College Mobile App
    </description>
    <author email="D.Mudrechenko@gmail.com" href="http://mudrechenko.me">
        Dmitrii Mudrechenko
    </author>
<preference name="orientation" value="portrait" />

<access origin="*" />
</widget>
